.aboutPage-main-content {
    width: 100%;
    min-height: 90vh;
    margin-top: 100px;
    
}
.aboutPage-main-content  .section-2{
    color: rgb(211, 115, 37);
    width: 100%;
    text-align: center;
}
.aboutPage-main-content  .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin-top: 20px;
}

.aboutPage-main-content  .section-3 .content-left {
    width: 60%;
}
.aboutPage-main-content  .section-3 .content-left h1 {
    text-align: left; 
    width: 100%; 
    margin-left: 290px;
}
.aboutPage-main-content  .section-3 .content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutPage-main-content  .section-3 .content-left p {
    width: 70%;
    font-size: 20px;
    font-family: 'Roboto    ';
}
.aboutPage-main-content  .section-3 .content-right{
    width: 30%;
}
.aboutPage-main-content  .section-3 .content-right img{
    width: 100%;
}

.custom-link {
    color: inherit; 
    text-decoration: none; 
}

.custom-link:hover {
    text-decoration: underline; 
}
.aboutPage-main-content .section-1 {
    font-weight:500;
    font-size: 20px;
    color: black;
    margin-top: 0px;
    margin-left: 30px;
  }
  .fa-house{
    color: black;
  }
  @media screen and (min-width:740px) and (max-width:1024px) {
  
   
    .aboutPage-main-content .section-3{
        display: flex;
        flex-direction: column-reverse; /* Đảo ngược thứ tự các phần tử con */
        align-items: center;
      
    }
    .aboutPage-main-content .section-3 {
        width: 100%;
    }
    .aboutPage-main-content .section-3 .content-left{
        width: 100%;
  }
  .aboutPage-main-content .section-3 .content-left h1{
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .aboutPage-main-content .section-3 .content-left p{
    width: 90%;
  }
  .aboutPage-main-content{
    min-height: 80vh;
  }

}
  @media screen and (max-width:740px) {
    .aboutPage-main-content .section-3{
        display: flex;
        flex-direction: column-reverse; /* Đảo ngược thứ tự các phần tử con */
        align-items: center;
    }
    .aboutPage-main-content .section-2 h1{
        font-size: 30px;
    }
    .aboutPage-main-content .section-3 {
        width: 100%;
    }
    .aboutPage-main-content .section-3 .content-left{
        width: 100%;
    }
    .aboutPage-main-content .section-3 .content-left p{
        width: 90%;
    }
    .aboutPage-main-content .section-3 .content-left h1{
        margin: 0;
        width: 100%;
        text-align: center;
    
    }
    .aboutPage-main-content .section-3 .content-right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around
    }
    .aboutPage-main-content .section-3 .content-right img{
        width: 60%;
    }
  }