.Cart-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    width: 95%;
    font-family: 'Roboto';
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.Cart-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Cart-card .name-product {
    width: 50%;
}

.Cart-card .info {
    flex-grow: 1;
    margin-left: 10px;
}

.Cart-card .name-product {
    font-weight: bold;
}

.Cart-card .product-details {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.Cart-card .product-details span {
    font-size: 15px;
}

.Cart-card .quantity-controls {
    display: flex;
    align-items: center;
    width: 20%;
}

.Cart-card .quantity-controls .quantity {
    margin-right: 10px;
    font-weight: bold;
}

.Cart-card .quantity-controls .buttons {
    display: flex;
    flex-direction: column;
}

.Cart-card .quantity-controls button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.Cart-card .price {
    color: red;
    font-weight: bold;
    width: 10%;
    margin-right: 10px;
}

.Cart-card .delete-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
