.Cart-main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
}

.Cart-main-content .section-1 {
    margin-bottom: 20px;
}

.Cart-main-content .section-2 {
    display: flex;
    justify-content: space-between;
}

.Cart-main-content .content-left {
    width: 50%;
}

.Cart-main-content .content-right {
    width: 40%;
}

.Cart-main-content .info-cart {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.Cart-main-content .title-cart {
    text-align: center;
    margin-bottom: 20px;
}

.Cart-main-content .cards-cart {
    display: flex;
    flex-direction: column;
}

.Cart-main-content .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.Cart-main-content .card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Cart-main-content .info {
    flex-grow: 1;
    margin-left: 10px;
}

.Cart-main-content .name-product {
    font-weight: bold;
}

.Cart-main-content .product-details {
    display: flex;
    justify-content: space-between;
}

.Cart-main-content .quantity-controls {
    display: flex;
    align-items: center;
}

.Cart-main-content .quantity-controls button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.Cart-main-content .price {
    color: red;
    font-weight: bold;
}

.Cart-main-content .delete-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.Cart-main-content .delete-item:hover {
    color: red;
    font-weight: bold;
}

.Cart-main-content .checkout-section,
.Cart-main-content .order-info {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 80%;
}

.Cart-main-content .checkout-section h2,
.Cart-main-content .order-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Cart-main-content .order-info {
    margin-top: 100px;
    width: 80%;
}

.Cart-main-content .checkout-button {
    background: #00c896;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.Cart-main-content .customer-info>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Cart-main-content .total-items,
.Cart-main-content .total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Cart-main-content .total-price .totalPrice {
    color: red;
    font-weight: bold;
}

.Cart-main-content .title-item {
    font-weight: bold;
}

.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.confirmation-dialog-content h2 {
    margin-bottom: 20px;
}

.confirmation-dialog-content p {
    margin-bottom: 30px;
}

.btn_confirm,
.btn_cancel {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn_confirm {
    background-color: #4CAF50;
    color: white;
}

.btn_confirm:hover {
    background-color: #00c896;
}

.btn_cancel {
    background-color: #f44336;
    color: white;
}

.btn_cancel:hover {
    background-color: #b25c56;

}

.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
    .Cart-main-content .content-left {
        width: 58%;
    }

    .Cart-main-content .section-2 .content-left .info-cart .title-cart h1 {
        font-size: 29px;

    }

    .Cart-main-content .section-2 .content-left .Cart-card .info .name-product {
        font-size: 15px;
        width: 100%;
    }

    .Cart-main-content .section-2 .content-right .order-info h2 {
        width: 100%;
        font-size: 20px;

    }

    .Cart-main-content .section-2 .content-right .order-info span {
        font-size: 11px;
    }
    .Cart-main-content .section-2 .content-right .checkout-section,
    .Cart-main-content .section-2 .content-right .order-info
    {
        width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .Cart-main-content .section-2 {
        display: block;
        width: 100%;
    }
    .Cart-main-content .content-left  h1{
        width: 100%;
        font-size: 29px;

    }
    

    .Cart-main-content .section-2 .content-left {
        width: 100%;
       
    }
    .Cart-main-content .section-2 .content-left .name-product{
        width: 100%;
        font-size: 13px;
    }

    .Cart-main-content .section-2 .content-right {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .Cart-main-content .section-2 .content-right .customer-info .title-item {
        text-align: left;

    }

    .Cart-main-content .section-2 .content-right .customer-info span {
        text-align: right;

    }

    .Cart-main-content .section-2 .content-right .order-info {
        margin-top: 0;

    }

}